<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-white rounded border border-2 mx-auto">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i class="fas fa-home mr-2"></i>
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" routerLink="/crud" routerLinkActive="active">
                            <i class="fas fa-store mr-2"></i>
                            Clientes
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
